// Подключаем файл переменных Bootstrap
.nav-item{
    display: flex;
    margin: 0;
    padding: 0;
    .nav-icon {
        font-size: 18px;
        color: rgb(78, 78, 78);
        position: relative;
        padding: 0;

        .bg-primary{
            background-color: red !important;
        }
    }
    .nav-profile {
        color: #012970;

        img {
            min-height: 36px;
        }

        span {
            font-size: 14px;
            font-weight: 600;
        }
    }
    .badge-number {
        position: absolute;
        inset: -2px -5px auto auto;
        font-weight: bold;
        font-size: 10px;
        border-radius: 50%;
        color: white;
    }
    .dropdown-menu{
        position: absolute;
        inset: 35px -17px auto auto;
        border-radius: 20px;
        .dropdown-header{

            .badge{
                margin-left: 5px;
                color: white;
                font-weight: bold;
                &:hover{
                    background-color: #066fe0 !important;
                }
            }
        }

        .dropdown-divider{
            margin: 0;
        }

        .notification-item {
            display: flex;
            align-items: center;
            padding: 15px 10px;
            transition: 0.3s;

            i {
                margin: 0 20px 0 10px;
                font-size: 24px;
            }

            h4 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            p {
                font-size: 13px;
                margin-bottom: 3px;
                color: #919191;
            }

            &:hover {
                background-color: #f6f9ff;
            }
        }

        .dropdown-footer{
            margin-top: 8px;
            text-align: center;
        }

    }
}