.app.dark{
    background-color: #222;
    color: rgb(156, 156, 156);

    .chartGrid{
        stroke: rgba(228, 228, 228, 0.219);
    }

    .table{
        background-color: grey;
        .tableCell{
            color: white;
        }
    }

    .navbar{
        color: #999;
        border-color: #333;

        .search{
            border-color: gray;
        }

    }
    .nav-item{
        .nav-icon{
            color:#999;
        }
    }
    .datatable {
        .datagrid {
          color: gray;
          border: none;
    
          .viewButton,
          .deleteButton,
          .cellWithStatus {
            color: gray;
            border: none;
          }
        }
      }
    

    input{
        background-color: transparent;
    }

    .LogoWrapper{
        a {
            color: #d3d3d3;
            div{
                background: #333;
                i{
                    color: #d3d3d3;
                }
            }
        }
    }

    .hamWrapper{
        i {
           color: #999;
        }
    }

    .sideBarBody{
        background: linear-gradient(0deg, #0f2a8a, #0a54c1);
        color: gray;
    }
}
