.navbar {
    @media (min-width: 775px) {
      
      width: 100vw;
      background-color: blue;
      text-align: center; // Выравнивание текста по горизонтали
    }
  
    @media (max-width: 774px) {
      width: 100vw; // Полная ширина окна
    }
  
    h1 {
      text-align: center; // Если хотите выровнять заголовок по центру
    }
  }